@model DigitalDevices.Models.GraphicalTablet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GraphicalTablet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatrixType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatrixType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponceTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponceTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TabletDefinition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TabletDefinition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sensivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sensivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
