@model IEnumerable<DigitalDevices.Models.GraphicalTablet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diagonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Definition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatrixType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponceTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TabletDefinition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sensivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Definition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatrixType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponceTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TabletDefinition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
