@model List<DigitalDevices.Models.EditProductViewModel.ProductCharacteristicEditVM>
@{
    string GetInputType(string dataType)
    {
        switch (dataType?.ToLower())
        {
            case "int":
            case "integer":
            case "float":
            case "double":
            case "decimal":
                return "number";
            case "datetime":
                return "datetime-local";
            case "date":
                return "date";
            case "time":
                return "time";
            default:
                return "text";
        }
    }
}

@foreach (var (charItem, index) in Model.Select((c, i) => (c, i)))
{
    <div class="form-group">
        <input type="hidden" name="Characteristics[@index].CharacteristicTypeId"
               value="@charItem.CharacteristicTypeId" />

        <label>@charItem.Name</label>

        @if (charItem.DataType == "enum")
        {
            <select name="Characteristics[@index].Value"
                    class="form-control">
                @foreach (var value in charItem.EnumValues)
                {
                    <option value="@value.Key">@value.Value</option>
                }
            </select>
        }
        @if (charItem.DataType == "bool"
       || charItem.DataType == "boolean")
        {
            <input type="checkbox"
                   name="Characteristics[@index].Value"/>
        }
        else
        {
            <input type="@GetInputType(charItem.DataType)"
                   name="Characteristics[@index].Value"
                   class="form-control" />
        }
    </div>
}

