@model DigitalDevices.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypes.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit"
               asp-route-productType="@ViewData["ProductType"]"
               asp-route-currentSort="@ViewData["CurrentSort"]"
               asp-route-searchString="@ViewData["SearchString"]"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-sortField="@ViewData["SortField"]"
               asp-route-sortOrder="@ViewData["SortOrder"]"
               asp-route-pageNumber="@ViewData["PageNumber"]"
               value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" 
        asp-route-productType="@ViewData["ProductType"]"
           asp-route-productType="@ViewData["ProductType"]"
           asp-route-currentSort="@ViewData["CurrentSort"]"
           asp-route-searchString="@ViewData["SearchString"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-sortField="@ViewData["SortField"]"
           asp-route-sortOrder="@ViewData["SortOrder"]"
           asp-route-pageNumber="@ViewData["PageNumber"]">
        Назад
    </a>
    </form>
</div>
