@model DigitalDevices.Models.ProductsByTypeViewModel

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробно</h1>

<div>
    <h4>@Model.Manufacturer.Name @Model.Name @Model.Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warranty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType.Name)
        </dd>
        @foreach (var item in Model.Characteristics)
        {
            <dt class = "col-sm-2">
        @item.CharacteristicType
        </dt>
        <dd class = "col-sm-10">
        @item.Value
        </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" 
       asp-route-productType="@ViewData["ProductType"]"
       asp-route-currentSort="@ViewData["CurrentSort"]"
       asp-route-searchString="@ViewData["SearchString"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-sortField="@ViewData["SortField"]"
       asp-route-sortOrder="@ViewData["SortOrder"]"
       asp-route-pageNumber="@ViewData["PageNumber"]"
       asp-route-filters="@ViewData["FilterList"]"
    asp-route-id="@Model?.Id">
        Редактировать
        </a> |
    <a asp-action="Index"
       asp-route-productType="@ViewData["ProductType"]"
       asp-route-currentSort="@ViewData["CurrentSort"]"
       asp-route-searchString="@ViewData["SearchString"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-sortField="@ViewData["SortField"]"
       asp-route-sortOrder="@ViewData["SortOrder"]"
       asp-route-pageNumber="@ViewData["PageNumber"]"
       asp-route-filters="@ViewData["FilterList"]">
        Назад
        </a>
</div>
