@model IEnumerable<DigitalDevices.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Продукты</h1>

<p>
    <a asp-action="Create">Добавить новый продукт</a>
</p>

<table class="table" style="text-align:center">
    <thead>
        <tr>
            <th style="border:double">
                <i id="priceIcon" hidden="hidden">&#11167;</i> <a id="price" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]">@Html.DisplayNameFor(model => model.Price)</a>
            </th>
            <th style="border:double">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="border:double">
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th style="border:double">
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th style="border:double">
                <i id="warrantyIcon" hidden="hidden">&#11167;</i> <a id="warranty" asp-action="Index" asp-route-sortOrder="@ViewData["WarrantySortParam"]">@Html.DisplayNameFor(model => model.Warranty)</a>
            </th>
            <th style="border:double">
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th style="border:double">
                @Html.DisplayNameFor(model => model.ProductTypes)
            </th>
            <th style="border:double">
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border:double">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="border:double">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="border:double">
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td style="border:double">
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td style="border:double">
                    @Html.DisplayFor(modelItem => item.Warranty) мес.
                </td>
                <td style="border:double">
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                </td>
                <td style="border:double">
                    @Html.DisplayFor(modelItem => item.ProductTypes.Name)
                </td>
                <td style="border:double">
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        // $('#warranty').onclick(function() {
        //     var warranty = $('#warrantyIcon');
        //     ChangeIcon(warranty)
        //     });
        //     $('#price').onclick(function() {
        //     var price = $('#priceIcon');
        //     ChangeIcon(price)
        //     });
        //     function ChangeIcon(item)
        //     {
        //         item.hidden="";
        //         item.InnerText='&#11165;'
        //     }
    </script>
}