@model IEnumerable<DigitalDevices.Models.Laptop>

@{
    ViewData["Title"] = "Index";
}

<h1>Ноутбуки:</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<p>
    <label>Выберите критерий:</label>
    <form id="searchForm" asp-action="Index" method="get">
        <select name="criteria">
            <option>Операционная система</option>
            <option>Модель процессора</option>
            <option>Видеокарта</option>
            <option>Наименование</option>
            <option>Модель</option>
            <option>Производитель</option>
        </select>
        <input name="searchString" type="text" placeholder="Введите параметр...">
        <input type="submit" value="Отфильтровать" onsubmit="" />
    </form>
</p>
<table class="table-bordered" style="text-align:center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPcores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAMType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAMGB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPUGB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageDriveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageGB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPcores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAMType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAMGB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPUGB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageDriveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageGB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
